Django==1.8
django-admin-ordering==0.13.1
django-ckeditor==5.9.0
django-filter==1.1.0
djangorestframework==3.6.4
nameparser==0.3.16
raven==6.10.0
pyzipcode==2.0.0
us==0.9.1
beautifulsoup4==4.4.1
tzlocal==1.2.2
six
