<!-- templates/form.hbs -->

<div class="row formulaic-row">
  <header class="col-xs-8 preview-column">
      <h1>{{this.model.name}}</h1>
      <p>{{this.model.slug}}</p>
    </header>
</div>
{{outlet}}

