{% extends "admin/change_list.html" %}

{% block content %}
  {{ block.super }}
  <div class="handl-task-forms">
    {% for data in handl_task_forms_data %}
      <form
        id="ld-submissions-dl-{{ data.pk }}"
        class="handl-task-start-form"
        method="POST"
      >
        <input type="hidden" name="task_name" value="formulaic.create_submission_csv" />
        <input type="hidden" name="task_data" value='{{ data.task_data }}'/>
      </form>
    {% endfor %}
  </div>
{% endblock %}

<script>

  const allTags = document.getElementsByClassName('form-download-tag')
  allTags.map(item => {
    (item).on('click', function(e) {
      const attribute = item.getAttribute('data-target-id')
      e.preventDefault();
      const url = `/download/submissions/?form=${attribute}`;
      $.get(url)
        .done(function pollAsyncResults(data) {
          context: this
          const pollAsyncUrl = `/api/poll_async_results/${data.task_id}`
          $.get(pollAsyncUrl)
            .done(function(asyncData, status, xhr) {
              context: this
              if (xhr.status !== 202) {
                clearTimeout(pollAsyncResults);
                const a = document.createElement('a');
                document.body.appendChild(a);
                a.style='display: none';
                a.href=asyncData.location;
                a.download=asyncData.filename;
                a.click();

                $('#download-reports-button').text('Download Report(CSV)')
              }
              else {
                $('#download-reports-button').text('Loading...')

                setTimeout(function() { pollAsyncResults(data) }, 500);
              }
            })

            .fail(function(xhr, status, error) {
              clearTimeout(pollAsyncResults);

            })
        })
        .fail(function(xhr, status, error) {

        })
    })
  })


</script>