{% extends "admin/change_form.html" %}

<!-- LOADING -->
{% load static i18n admin_modify admin_urls %}
{% load setting_tags %}
<!-- JAVASCRIPTS -->
{% block javascripts %}
  {{ block.super }}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "admin/formulaic/ember-formulaic/dist/assets/vendor.css" %}">
  <link rel="stylesheet" href="{% static "admin/formulaic/ember-formulaic/dist/assets/ember-formulaic.css" %}">

  <meta name="ember-formulaic/config/environment" content="{{ environment_config }}" />

      <script src="https://cdn.tiny.cloud/1/{% formulaic_tinymce_key %}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  {{ block.super }}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} grp-change-form{% endblock %}
{% block content-class %}{% endblock %}

<!-- PAGE-TOOLS -->
{% block page-tools %}{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}{% endblock %}

<!-- CONTENT -->
{% block content %}
  <div class="formulaic-bootstrap">
    <div class="container" style="display:inline-block; padding-bottom:10pt;">

      {{ original_serialized }}
      <div id="initial-data" data-initial-data="{{ original_serialized }}">


      <div class="row">
        <div class="col-xs-12" id="react-fields" style="border-style: double; border-color: red; border-width: 3px"></div>
{#        <div class="col-xs-4" id="add-field"></div>#}
{#        <div class="col-xs-4" id="edit-field"></div>#}
      </div>
    <div class="row"></div>
    </div>
  </div>




{#    <div id="root"></div>#}
{#    <script defer="defer" src="{% static 'admin/formulaic/react-formulaic/build/static/js/main.ae5df0d7.js' %}"></script>#}
{#  <link href="{% static 'admin/formulaic/react-formulaic/build/static/css/main.073c9b0a.css' %}" rel="stylesheet">#}


  <div id="formulaic-container"></div>
  <script src="{% static 'formulaic/react/react.development.js' %}"></script>
  <script src="{% static 'formulaic/react/react-dom.development.js' %}"></script>
  <!-- JSX support-->
  <script src="{% static 'formulaic/react/babel.min.js' %}"></script>
  <script src="{% static 'formulaic/react/redux.js' %}"></script>
  <script src="{% static 'formulaic/react/react-redux.js' %}"></script>
  <script type="text/babel" src="{% static 'formulaic/react_components/fields.js' %}"></script>



  {% if original %}
    <form
      id="ld-submissions-dl-{{ original.id }}"
      class="handl-task-start-form"
      action="/athena/handl/task/start/"
      method="POST"
    >
        <input type="hidden" name="task_name" value="formulaic.create_submission_csv"/>
        <input type="hidden" name="task_data" value='{{ task_data }}'/>
    </form>
  {% endif %}

  <script src="{% static "admin/formulaic/ember-formulaic/dist/assets/vendor.js" %}"></script>
  <script src="{% static "admin/formulaic/ember-formulaic/dist/assets/ember-formulaic.js" %}"></script>
{% endblock %}
