<div class="checkbox">
  <label>
    <input type="checkbox" checked={{this.args.completeField.default_checked}} disabled={{true}} />
    {{{this.args.completeField.display_name}}}

    {{#if this.args.completeField.required}}
      <span class="text-danger">*</span>
    {{/if}}
  </label>
</div>
